@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

@page {
  margin-top:10mm;
  size: A4 portrait;
  width:190mm;
  font-family: 'Noto Serif JP';
}

/*
@page :first { margin-right: 4cm; }
@page :right { margin-right: 4cm; }
@page :left { margin-left: 4cm; }
@page :blank { margin-left: 4cm; }

*/


/* -----------------------------------------
A4印刷テンプレート コピーして利用
-------------------------------------------- */
.printing {
  /*font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;*/
  font-family: 'Noto Serif JP';
  font-size:11pt;
  /* 印刷デバイスで必要余白領域 5mm (上下・左右) 以上を設ける  */
  /* A4 縦 */
  width: 190mm;
}

/* 両面印刷対応 */
.printing:nth-child(odd) {
  margin-left:13mm;
}
.printing:nth-child(even) {
  margin-left:8mm;
}

table thead {
  border: solid 0.5mm #000;
  border-right: none;
  border-left: none;
}
/* original dropbox */