@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

@page {
  margin-top:10mm;
  size: A4 portrait;
  width:190mm;
  font-family: 'Noto Serif JP';
  font-size:11pt;
}

/*
@page :first { margin-right: 4cm; }
@page :right { margin-right: 4cm; }
@page :left { margin-left: 4cm; }
@page :blank { margin-left: 4cm; }

*/


/* -----------------------------------------
A4印刷テンプレート コピーして利用
-------------------------------------------- */
.pages{
  break-after: page;
}

.pages table thead {
  border: solid 0.5mm #000;
  border-right: none;
  border-left: none;
  font-size: 14pt;
}


/* original dropbox */