@page {
  margin-top:10mm;
}

/*
@page :first { margin-right: 4cm; }
@page :right { margin-right: 4cm; }
@page :left { margin-left: 4cm; }
@page :blank { margin-left: 4cm; }

*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

header
,nav
,footer
,article
,div.noPrint
,div.wrapper {
  display:none;
}

/* -----------------------------------------
A4印刷テンプレート コピーして利用
-------------------------------------------- */
.printA4 {
  /*font-family: 'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;*/
  font-family: 'Noto Serif JP';
  font-size:11pt;
  /* 印刷デバイスで必要余白領域 5mm (上下・左右) 以上を設ける  */
  /* A4 縦 */
  width: 187mm;   /* 210mm-(5mX2)-13mm = 187mm */
  /* position: relative;  固定ヘッダーの基準座標を定義 */ 
  /* counter-increment: print_page_count; ページ番号のインクリメント */
}

/* 両面印刷対応 */
.printA4:nth-child(odd) {
  margin-left:13mm;
}
.printA4:nth-child(even) {
  margin-left:8mm;
}

.printA4 table thead {
  border: solid 0.5mm #000;
  border-right: none;
  border-left: none;
}
/* original dropbox */