@charset "utf-8";

/*#region  Reset default browser CSS. -------------------------------*/
/* Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
:focus {outline: 0;}

ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img{border: 0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/*#endregion*/

/*#region stack_edit.css normalize ---------------------------------- */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article, aside, footer, header, nav, section {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

figcaption, figure {
  display: block
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

main {
  display: block
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b, strong {
  font-weight: inherit;
  font-weight: bolder
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

dfn {
  font-style: italic
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

audio, video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button {
  overflow: visible
}

button, select {
  text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText
}

input {
  overflow: visible
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

textarea {
  overflow: auto
}

details {
  display: block
}

summary {
  display: list-item
}

menu {
  display: block
}

canvas {
  display: inline-block
}

[hidden], template {
  display: none
}

body, html {
  color: rgba(0, 0, 0, .75);
  font-size: 16px;
  font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
  font-variant-ligatures: common-ligatures;
  line-height: 1.67;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.app--dark .layout__panel--editor, .app--dark .layout__panel--preview {
  color: hsla(0, 0%, 100%, .75)
}

blockquote, dl, ol, p, pre, ul {
  margin: 1.2em 0
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.8em 0;
  line-height: 1.33
}

h1:after, h2:after {
  content: "";
  display: block;
  position: relative;
  top: .33em;
  border-bottom: 1px solid hsla(0, 0%, 50%, .33)
}

ol ol, ol ul, ul ol, ul ul {
  margin: 0
}

dt {
  font-weight: 700
}

a {
  color: #0c93e4;
  text-decoration: underline;
  text-decoration-skip: ink
}

a:focus, a:hover {
  text-decoration: none
}

code, pre, samp {
  font-family: Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco, Courrier, monospace;
  font-size: .85em
}

code *, pre *, samp * {
  font-size: inherit
}

blockquote {
  color: rgba(0, 0, 0, .5);
  padding-left: 1.5em;
  border-left: 5px solid rgba(0, 0, 0, .1)
}

.app--dark .layout__panel--editor blockquote, .app--dark .layout__panel--preview blockquote {
  color: hsla(0, 0%, 100%, .4);
  border-left-color: hsla(0, 0%, 100%, .1)
}

code {
  background-color: rgba(0, 0, 0, .05);
  border-radius: 3px;
  padding: 2px 4px
}

hr {
  border: 0;
  border-top: 1px solid hsla(0, 0%, 50%, .33);
  margin: 2em 0
}

pre>code {
  background-color: rgba(0, 0, 0, .05);
  display: block;
  padding: .5em;
  -webkit-text-size-adjust: none;
  overflow-x: auto;
  white-space: pre
}

.toc ul {
  list-style-type: none;
  padding-left: 20px
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0
}

td, th {
  border-right: 1px solid #dcdcdc;
  padding: 8px 12px
}

td:last-child, th:last-child {
  border-right: 0
}

td {
  border-top: 1px solid #dcdcdc
}

mark {
  background-color: #f8f840
}

kbd {
  font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
  background-color: #fff;
  border: 1px solid rgba(63, 63, 63, .25);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(63, 63, 63, .25);
  color: #333;
  display: inline-block;
  font-size: .8em;
  margin: 0 .1em;
  padding: .1em .6em;
  white-space: nowrap
}

abbr[title] {
  border-bottom: 1px dotted #777;
  cursor: help
}

img {
  max-width: 100%
}

.task-list-item {
  list-style-type: none
}

.task-list-item-checkbox {
  margin: 0 .2em 0 -1.3em
}

.footnote {
  font-size: .8em;
  position: relative;
  top: -.25em;
  vertical-align: top
}

.page-break-after {
  page-break-after: always
}

.abc-notation-block {
  overflow-x: auto!important
}

.stackedit__html {
  margin-bottom: 180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 750px
}

.stackedit__toc ul {
  padding: 0
}

.stackedit__toc ul a {
  margin: .5rem 0;
  padding: .5rem 1rem
}

.stackedit__toc ul ul {
  color: #888;
  font-size: .9em
}

.stackedit__toc ul ul a {
  margin: 0;
  padding: .1rem 1rem
}

.stackedit__toc li {
  display: block
}

.stackedit__toc a {
  display: block;
  color: inherit;
  text-decoration: none
}

.stackedit__toc a:active, .stackedit__toc a:focus, .stackedit__toc a:hover {
  background-color: rgba(0, 0, 0, .075);
  border-radius: 3px
}

.stackedit__left {
  position: fixed;
  display: none;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none
}

@media (min-width:1060px) {
  .stackedit__left {
    display: block
  }
}

.stackedit__right {
  position: absolute;
  right: 0;
  top: 0;
  left: 0
}

@media (min-width:1060px) {
  .stackedit__right {
    left: 250px
  }
}

.stackedit--pdf blockquote {
  border-left-color: #ececec
}

.stackedit--pdf .stackedit__html {
  padding-left: 0;
  padding-right: 0;
  max-width: none
}
/*#endregion */

/*#region html & body */
body{
  color:#333;
  font:12px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
  line-height:1.5;
  background:#fff;
  -webkit-text-size-adjust: none;
}
html{background:#b70000;}
/*#endregion*/

/*#region リンク設定 */
a{color:#b70000;text-decoration:none;}
a:hover{color:#1c1c1c;}
a:active, a:focus{outline:0;}
/*#endregion*/

/*#region #wrapper .inner */
#wrapper{
margin:0 auto;
padding:0 1%;
width:98%;
position:relative;
}
.inner{
  margin:0 auto;
  width:100%;
}
/*#endregion*/

/*#region h1 #header(ヘッダ) */
h1{
  font-size:12px;
  line-height:2.0;
  font-weight:normal;
  background:#b70000;
  color:#fff;
}
#header{
  overflow:hidden;
  padding:5px 0 15px;
}
* html #header{height:1%;}
/*#endregion*/

/*region 固定機能 (with javascript/FixedAnime()) */
.fixed {
  width:100%;/*横幅指定*/
  position: fixed;/*fixedを設定して固定*/
  z-index: 999;/*最前面へ*/
  top:0;/*位置指定*/
  left:0;/*位置指定*/
}
/*endregion*/

/*#region .log .info .tel (ロゴ) */
#header .logo{
  float:left;
  padding:25px 0 0;
}
.logo a{
  font-size:20px;
  font-weight:bold;
  line-height:1;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho",serif;
}
.logo span{
  font-size:12px;
  font-weight:normal;
  color:#333;
}
.info{
  float:right;
  padding:20px 0 0;
}
.tel strong{
  font-size:20px;
  font-weight:bold;
}
/*#endregion*/

/*#region Navigation */
ul#topnav{
  overflow:hidden;
  margin:10px 0;
}
* html ul#topnav{height:1%;}
  ul#topnav li{
  float:left;
  text-align:center;
}
ul#topnav a{
  width:157px;
  font-size:13px;
  display:block;
  padding:20px 0;
  color:#fff;
  background:#b70000;
  border-top:10px solid #fff;
}
ul#topnav li:first-child a,ul#topnav li:last-child a{width:156px;}
ul#topnav li.active a,ul#topnav a:hover{
  border-color:#1c1c1c;
  background:#1c1c1c;
}
/*#endregion*/

/*#region メイン画像（トップページ+サブページ） */
#mainBanner{
  margin:20px auto 20px;
  padding:4px;
  position:relative;
  line-height:0;
  background:#b70000;
}
#mainBanner img{
  max-width:100%;
  height:auto;
}
.slogan{
  position:absolute;
  max-width:100%;
  height:auto;
  bottom:10px;
  left:10px;
  padding:5px 10px;
  line-height:1.4;
  z-index:100;
  background:url(images/tp2.png);
}
.slogan h2{
  padding-bottom:5px;
  color:#fff;
  font-size:20px;
}
.slogan h3{
  font-size:14px;
  color:#ccc;
}
/*#endregion*/

/*#region グリッド */
.gridWrapper{
  clear:both;
  padding:20px 0;
  overflow:hidden;
}
* html .gridWrapper{height:1%;}
.grid{
  float:left;
}
.colDark,.colLight{
  padding-bottom:5px;
  color:#fff;
  background:#1c1c1c;
}
.colLight{background:#b70000;}
.colDark h3,.colLight h3{
  margin:10px 10px 5px;
  font-size:14px;
  font-weight:bold;
}
.colDark a,.colLight a{
  display:block;
  padding:3px;
  border-radius:3px;
  color:#fff;
  background:#b70000;
}
.colLight a{background:#1c1c1c;}
.colLight a:hover,.colDark a:hover{
  color:#1c1c1c;
  background:#fff;
}
#sub .grid h3{
  padding-left:7px;
  font-size:16px;
  border-left:4px double #1c1c1c;
}
.grid p{
  padding:5px 10px;
}
.grid ul{margin:5px 10px;}
.grid li{
  padding:5px 0;
  list-style:inside;
  border-bottom:1px dashed #ebebeb;
}
.gridWrapper img{
  max-width:100%;
  height:auto;
}
/*#endregion*/

/*#region フッター内のグリッド(3カラム) */
#footer .grid{
  color:#fff;
  background:transparent;
}
#footer .col3 ul{margin:0 0 10px 5px;}
#footer .col3 li{
  padding:0 6px 0 5px;
  margin-bottom:3px;
  list-style:none;
  border-bottom:0;
  display:inline-block;
  border-right:1px solid #fff;
}
/*#endregion*/

/*#region section メイン コンテンツ */
section.content{
  margin-bottom:20px;
  font-size:14px;
  overflow:hidden;
}
* html section.content{height:1%;}
section.content p{margin-bottom:5px;}
h3.heading{
  padding:5px 10px;
  margin-bottom:10px;
  font-size:16px;
  color:#fff;
  background:#b70000;
  border-radius:3px;
}
.alignleft{
  float:left;
  clear:left;
  margin:3px 10px 10px 1px;
}
.alignright{
  float:right;
  clear:right;
  margin:3px 1px 10px 10px;
}
img.frame,#gallery img{
  border:4px solid #fff;
  box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
}
#gallery .gridWrapper{padding:0;}
#gallery img{
  margin:5px;
}
section#gallery{overflow:visible;}
/*#endregion*/

/*#region テーブル */
table.table{
  border-collapse:collapse;
  width:100%;
  margin:10px auto;
}
table.table th,table.table td{
  padding:5px;
  border:1px solid #1c1c1c;
}
table.table tr:first-child th,table.table tr:first-child td{
  border-top:#1c1c1c 4px solid
}
table.table th{
  font-weight:bold;
  letter-spacing:1px;
  white-space:nowrap;
  color:#fff;
  background:#b70000;
}
/*#endregion*/

/*#region フッター */
#footer{
  clear:both;
  padding:20px 0;
  overflow:hidden;
  background:#b70000;
  border-top:1px solid #1c1c1c;
}
* html #footer{height:1%;}
#footer a{color:#fff;}
#footer a:hover{color:#ccc;}
#footer .copyright{font-size:11px;}
/*#endregion*/

/*#region PC用 */
@media only screen and (min-width:940px) {	
#wrapper,.inner{
  width:940px;
  padding:0;
}
#wrapper{padding-bottom:20px;}
#main{
	float:right;
	width:690px;
}
#subpage #sub{
	float:left;
	width:235px;
	overflow:hidden;
}
	
/* グリッド */
.grid{width:235px;}
.col2{width:470px;}
.col3{width:705px;}
#gallery .grid{width:230px;}
#subpage #sub .grid{
	width:100%;
	float:none;
	padding-bottom:30px;
}
}
/*#endregion*/

/*#region モニター幅960px以下 */
@media only screen and (max-width:960px){
h1 p.inner{padding:0 2%;width:96%}
#header .logo{padding-left:10px;}
#header .info{padding-right:10px;}
	
ul#topnav{
	clear:both;
	width:100%;
}
ul#topnav li{
	width:33%;
	margin:0 0 5px;
	border-right:1px solid #1c1c1c;
	 box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
ul#topnav li:nth-child(3n){border-right:0;width:34%;}
ul#topnav li a{
	width:100%;
	border-top:0;
}
ul#topnav li:first-child a,ul#topnav li:last-child a{width:100%;}
.grid{
	width:50%;
	margin:2px 0;
}
.col2{
	float:none;
	width:100%;
	margin:0 0 20px;
}
.grid img{
	float:left;
	margin-right:5px;
}
#gallery .grid{
	width:31%;
	margin:0 1%;
	padding:0;
}	
#gallery .grid img{
	float:none;
}	
section.content{padding:0 10px;}
section.content img{
  max-width:90%;
	height:auto;
}
#sub .grid{padding-bottom:20px;}
#footer{padding:0;}
#footer .grid{
	float:none;
	width:100%;
	margin-bottom:5px;
	text-align:center;
}
}
/*#endregion*/

/*#region iPad 縦 */
@media only screen and (max-width:768px){
  #header{padding-bottom:0;}
	#mainBanner{padding:3px;}
}
/*#endregion*/

/*#region スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
.grid{width:100%;}	
.grid img{
	float:none;
	margin:20px auto 10px;
}
.grid p{text-align:left;}	
img.frame,#gallery img{border-width:2px;}
.alignleft,.alignright{
	float:none;
	display:block;
	margin:0 auto 10px;
}	
#footer .grid p{text-align:center;}
}
/*#endregion*/

/*#region スマートフォン 縦(ポートレート) */
@media only screen and (max-width:480px){
#header .logo{padding-top:10px;}
.info{padding:10px 0 0;}
ul#topnav li{width:50%;}
ul#topnav li:nth-child(3n){
border-right:1px solid #1c1c1c;
	width:50%;
}
ul#topnav li:nth-child(2n),ul#topnav li:nth-child(6n){border-right:0;}
#mainBanner{margin-left:1px;}
#mainBanner h2,#mainBanner h3{font-size:80%;}
}
/*#endregion*/
